{% extends 'base.html.twig' %}

{% block body %}
    <div class="grid__container">
        <div class="center content">
            <div class="page__wrapper">
                <div class="left__content grid__70">
                    <article class="main__post">
                        <header>
                            <div class="post__format_wrapper post__format_image">
                                <div class="featured__image">
                                    <img width="950" height="500"
                                         src="{{ image }}"
                                         alt="">
                                    <div class="tags absolute">
                                        <a href="#" class="tag__link">One Piece</a>
                                    </div>
                                </div>
                            </div>
                            <div class="meta">
                                <h1 class="title large bold">Title: {{ title }}</h1>
                            </div>
                            <div class="clear"></div>
                        </header>
                        <section class="post__content">
                            <div class="text">
                                {% for paragraph in paragraphs %}
                                    <p>{{ paragraph }}</p>
                                {% endfor %}
                            </div>
                        </section>
                    </article>
                </div>
                <aside id="sidebar" class="grid__30">
                    <div>
                        <div class="default__sidebar">
                            <section class="widget ">
                                <h4 class="title">Informations</h4>
                                <ul>
                                    <li class="cat__item">
                                        <a href="#">Nom Japonais : {{ informations['Nom Japonais'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Nom Français : {{ informations['Nom Français'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Nom Romanisé: {{ informations['Nom Romanisé'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Première Apparition:</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Affiliations: {{ informations['Affiliations'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Occupations : {{ informations['Occupations'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Alias : {{ informations['Épithète'] ?? informations['Alias']}}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Prime : {{ informations['Épithète'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Statut : {{ informations['Statut'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Anniversaire : {{ informations['Anniversaire'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Âge : {{ informations['Âge'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Taille : {{ informations['Taille'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Groupe Sanguin : {{ informations['Groupe Sanguin'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Voix Japonaise : {{ informations['Voix Japonaise'] }}</a>
                                    </li>
                                    <li class="cat__item">
                                        <a href="#">Voix Française : {{ informations['Voix Française'] }}</a>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}